.title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    padding: 1rem;

    .success {
        color: #47c84d;
    }

    .error {
        color: #f35353;
    }

}

.message {
    font-size: 20px;
}